/* Page-wide Styling */
body {
    font-family: "Poppins", serif;
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
}


/* Header & Navigation Layout: */
/* Every header is a column with centered items */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

/* No appearance change in mobile view, but allows for easier responsive adjustments for wider screens */
.nav_links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/* Link Styling: */
/* Set links, unvisited and visited, to same color */
a:link, a:visited {
    color: #1201F5;
}


/* Pricing Card Styling: */
/* Style defaults for headers on cards */
.card > header {
    background-color: #288088;
    border: 2px solid #45adad;
    padding: 20px 0;
}

/* Ensure corners are rounded on header and underlying card div */
.card, .card > header {
    border-radius: 50px 50px 0 0;
}


/* Pricing Section Layout: */
/* Set card size: fixed width, adaptive height */
.card {
    width: 500px;
    /* Cards better match the visuals in the reference screenshot with no basis set, growing to fit their content. Setting a standard basis of 450px or 425px to account for padding results in awkward gaps at the bottom of the first and third cards. */
}

/* Center cards horizontally and vertically in pricing section */
.pricing {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


/* Gallery Styling & Layout: */
/* Images within gallery at end of page */
.gallery > img {
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;
}

/* Lay out images within gallery according to flex */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* Layout Changes for Screens 900px and Wider */
@media only screen and (min-width:900px) {
    /* Header Layout Changes:  */
    /* Change headers to arrange items horizontally */
    header {
        flex-direction: row;
        /* Separate two items in header to opposite sides of screen */
        justify-content: space-between;
    }

    /* Spread links out horizontally, at opposite end from logo */
    .nav_links {
        flex-direction: row;
        justify-content: flex-end;
    }

    /* Ensure site header stays stuck to top of screen */
    body > header {
        position: sticky;
        top: 0;
    }


    /* Pricing Section Layout Changes: */
    /* Layout price cards horizontally */
    .pricing {
        flex-direction: row;
    }

    /* Set fixed card width (height is adaptive) */
    .card {
        flex-basis: 275px;
    }
}


/* Logo Animation: */
/* Define keyframes to grow and fade in logo */
@keyframes logoTransition {
    from {
        width: 25px;
        opacity: 0%;
    }

    to {
        width: 475px;
        opacity: 100%;
    }
}

/* Applies keyframes to animate logo */
#logo {
    animation-name: logoTransition;
    /* Playtime is 5 seconds, plays once by default upon load */
    animation-duration: 5s;
    /* Behavior differs from video, but fill mode ensures that logo doesn't snap to a smaller size jarringly after the animation plays */
    animation-fill-mode: forwards;
}

/* Turn off animation if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
    #logo {
        /* Plays animation instantly, resulting in same final look as with animation on */
        animation-duration: 0ms;
    }
}