body {
    font-family: "Poppins", serif;
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
}

/* TODO: Figure these out more precisely, needs to refine to meet setps 3 & 4 */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


/* Set links, unvisited and visited, to same color */
a:link {
    color: #1201F5;
}

a:visited {
    color: #1201F5;
}


/* Style defaults for headers on cards */
.card > header {
    background-color: #288088;
    border: 2px solid #45adad;
    padding: 20px 0;
}

/* Ensure corners are rounded on header and underlying card div */
.card, .card > header {
    border-radius: 50px 50px 0 0;
}


/* TODO: There's an extra bit of height on the $20 card, seemingly from above the margin, probably based on basis/grow/shrink */
/* Steps 7 & 8 implemented */
.card {
    width: 500px;
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


/* Images within gallery at end of page */
.gallery > img {
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;
}

/* Lay out images within gallery according to flex */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}