body {
    font-family: "Poppins", serif;
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
}

/* TODO: Figure these out more precisely, needs to refine to meet setps 3 & 4 */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}



